page-about {

  .toolbar-background {
    // background-color: yellowgreen;
  }
  .yellowgreen {
    button {
      background-color: yellowgreen;
    }
  }
  #result {
    border-style: groove;
    border-color: yellowgreen;
  }
}
