page-login {

  /*global*/

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  /*header*/

  ion-header {
  }

  /*body*/

  ion-content {
    font-family: sans-serif;
  }

  /*button*/
  .yellowgreen {
    button {
      background-color: yellowgreen;
    }
  }

  /*footer*/
  ion-footer {
    background-color: yellowgreen;
  }

  ion-footer p {
    text-align: center;
    color: #ffffff;
  }
}
