page-contact {

#bold {
  font-size: 110%;
}
.middle {
  font-size: 160%;
  color: yellowgreen;
}
.toolbar-background {
  background-color: yellowgreen;
}
.toolbar-title {
  color: white;
}
#border {
  border-style: groove;
  border-color: yellowgreen;
}

}
