page-home {

  ion-navbar {
      
  }
  .header {
    // color: yellowgreen;
  }
  .toolbar-background {
    // background-color: yellowgreen;
  }
  .toolbar-title {
    color: white;
  }
  #bold {
    font-size: 110%;
  }
  .blue {
    color: dodgerblue;
  }
  .red {
    color: red;
  }
  .yellowgreen {
    button {
      background-color: yellowgreen;
    }
  }
}
