page-home {

.header {
  color: dodgerblue;
}
.toolbar-background {
  background-color: dodgerblue;
}
.toolbar-title {
  color: white;
}
#bold {
  font-size: 110%;
}
ion-content {
  background-color: ivory;
}
}
