page-help {

/*global*/

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*header*/

.toolbar-background {
  background-color: yellowgreen;
}

ion-header button {
  float: right;
  color: #ffffff;
  background-color: red;
  height: 43.5px;
  border: 2px solid khaki;
}

/*content*/

ion-content {
  border-left: 2px solid yellowgreen;
  border-right: 2px solid yellowgreen;
}

#font-color {
  color: yellowgreen;
}

#bold {
  font-size: 110%;
}
.middle {
  font-size: 160%;
  color: yellowgreen;
}

/*box*/

.border {
  font-style: bold;
  background-color: #FFFFF0;
  border-style: groove;
  border-color: yellowgreen;
  margin-bottom: 10px;
}



}
