page-searcherror {
  .toolbar-background {
    background-color: yellowgreen;
  }
  .toolbar-title {
    color: white;
  }
  #bold {
    font-size: 110%;
  }
  .yellowgreen {
    button {
      background-color: yellowgreen;
    }
  }
}
