page-searchresult {
  ion-list {
    padding-bottom: 5px;
  }
  /*header*/
  .container {
    width: 80%;
    overflow: hidden;
    margin: auto;
  }

  .toolbar-background {
    background-color: yellowgreen;
  }

  .toolbar-title {
    color: white;
  }

  ion-header button {
    float: right;
    color: #ffffff;
    background-color: red;
    height: 43.5px;
    border: 2px solid khaki;
  }

/*content*/
  #header {
    height: 50%;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  ion-content {
    ion-label {
      font-size: 1.5rem;

    }
  }

/*searchresult*/
  section .container {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    overflow: hidden;
  }
}
